<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <style>
        body{
            width: 750px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(57, 255, 47);
        }
        @media screen and (max-width :600px) {
        }
        h1{
            background-color: tomato;
            padding: 100px;
        }
        p{
            width: 500px;
        }

    </style>
    <body>
<h1>The Evolution of the Bicycle</h1>
<p>In 1817 Baron von Drais invented a walking
 machine that would help him get around the
 royal gardens faster..</p>
 <p>
    Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Beatae voluptatem voluptatum 
     in error, fugiat, itaque molestiae totam dolor 
     cumque, velit aperiam eum nobis rerum aliquid
      tenetur quam ab exercitationem reprehenderit?
 
    </p>

</body>
</html>